img {
	margin-top: 50px;
	border:7px solid white;
	border-radius: 10px;
	width:200px;
	height:200px;
}

header {
	display: block;
	padding: 20px;
	background-size: cover;
	background: url("https://img.shockblast.net/2014/02/The-Pattern-Library-ShockBlast.jpg");
	vertical-align: baseline;
	text-align: center;
}

h1 {
	font-size: 70px;
	color: white;
	margin:20px;
	font-family: 'Montserrat', sans-serif;
}

ul {
  font-size: 20px;
  padding: 10px;
  background: #00BAD8;
}

li {
	display: inline;
	padding: 0px 10px;
}

a {
	text-transform: uppercase;
}

.container {
	font: inherit;
	margin: 0 auto;
	padding: 50px;
	width: 50%;
	font-size: 100%;
}

article {
	margin: 20px;
	padding-top: 20px;
	font-size: 36px;
	font: inherit;
}

h2 {
	margin: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
}

p {
	margin: 10px;
	padding-top: 20px;
	line-height: 1.5;
    font-size: 20px;
    clear: left;
}

article > a {
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	margin-top: 20px;
	padding: 10px;
}